body {
    background-color: grey;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    font-size: 40px;
}

li {
    color: white;
    font-size: 20px;
}

img {
    border-radius: 20px;
    height: 250px;
    width: 450px;
    float: right;
    
}